body {
    height: 980px;
    overflow-y: auto;
    border: 1px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:rgb(230, 190, 143);
    background-size: cover;
    background-position: center;
}


header{
    display:flex;
    flex-direction: column;
    background-color:rgb(236, 236, 214);
    background-image: url("drawing.png");
    background-size:40vw;
    background-position:right;
    background-repeat: no-repeat;
    padding: 5vw;
    justify-content: center;
}

header div h1{
    font-size:3vw;
    color: rgb(192, 48, 192);
}

h2 {
    color: rgb(31, 26, 4);
    font-size:2vw;
}

h4{
    color: #413d09;

}

#name {
    font-size: 7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #413d09; 

}

.toggle-container{
    text-align: center;
    padding: 3vw 5vw;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;

}

.slider:before{
    position: absolute;
    content: "🌛";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:rgb(192, 48, 192);
    border-radius:50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #832564;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform:translateX(26px);
    -ms-transform:translateX(26px);
    -transform: translateX(26px);
}

body.dark-mode {
    background-color: #474040;
}

.dark-section.dark-mode {
    background-color: black;
}

#about-me, #education, #skills, #projects, #contact-information {
    background-color: white;
    padding:30px 30px;
    margin: 10px 5vw;
    border: solid 3px rgb(219, 57, 219);
    border-radius: 10px;
}

.about-me-context {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.about-me-context p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-size: 100%;
    -webkit-text-fill-color: rgb(219, 57, 219);
    -webkit-text-stroke-width: 0.5px;
}

.project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 5vh;
    position: relative;
}

.project-content button img, .project-content img {
    max-width: 100%;
    height: auto;
}

.project-content img {
    flex: 1;
    max-width: 45%;
    padding: 0 10vw;
}

button {
    flex: 2;
    max-width: 50%;
    padding: 0;
}

.purple {
    padding: 1%;
    margin: 0 1vh;
    text;
    background-color: rgb(201, 79, 225);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    line-height: 2;
}

.profilePic{
    width:20vw;
    height:20vw;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 5%;
}

nav ul li{
    display: inline;
}

nav ul li a img{
    width: 5vw;
    height: 5vw;
}

button {
    width: 100vh;
    background-color: transparent;
    border: none;
    transition: transform .2s;
}

button:hover {
    transform: scale(1.1);
}


.modal {
    display: none;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-content {
    display: inline-flex;
    gap: 0;
    background-color: rgb(230, 190, 143);
    padding: 30px;
    margin: 200px;
    
}

.modal-content p {
    font-size: 3vw;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    text-align: center;
}

.modal-content img {
    width: 10vw;
}

.close-modal {
    position: absolute;
    cursor:pointer;
    border: none;
    padding: 0;
    color: #FFFFFF;
}

.close-button:hover {
    color: darkred;
}



@media screen and (max-width: 600px){
    body {
    }

    #name {
        -webkit-text-stroke-width: 1px;
    }

    header {
        background-size:50vw;
        background-position:top right;
    }

    header div {
        padding-left: 10px;
    }

    header div h1 {
        padding-left: 20px;
        font-size:3vh;
    }

    nav {
        padding-right: 40px;
    }
    .about-me-context{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    h2{
        text-align:left;
        font-size: 4vw;
    }

    .about-me-context p{
        text-align:justify;
        font-size: 100%;
    }

    .profilePic{
        padding: auto;
        width:60vw;
        height:60vw;
    }

    nav ul{
        gap: 1%;
    }

    nav ul li a img{
        width:15vw;
        height:15vw;
    }

    .modal-content{
        margin: 100px;
    }

}

@media screen and (min-width: 1200px){
    .about-me-context {
        padding: 0 100px;
    }

    .about-me-context p {
        font-size: 120%;
    }

}

footer {
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(236, 236, 214);
    color: white;
    text-align: center;
}